@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fimanager:before {
    display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-001-server:before { content: "\f100"; }
.flaticon-002-server:before { content: "\f101"; }
.flaticon-003-visualization:before { content: "\f102"; }
.flaticon-004-encryption:before { content: "\f103"; }
.flaticon-005-volume:before { content: "\f104"; }
.flaticon-006-venue:before { content: "\f105"; }
.flaticon-007-variety:before { content: "\f106"; }
.flaticon-008-validity:before { content: "\f107"; }
.flaticon-009-protection:before { content: "\f108"; }
.flaticon-010-vagueness:before { content: "\f109"; }
.flaticon-011-velocity:before { content: "\f10a"; }
.flaticon-012-variability:before { content: "\f10b"; }
.flaticon-013-value:before { content: "\f10c"; }
.flaticon-014-veracity:before { content: "\f10d"; }
.flaticon-015-server:before { content: "\f10e"; }
.flaticon-016-structure:before { content: "\f10f"; }
.flaticon-017-unstructured-data:before { content: "\f110"; }
.flaticon-018-structured-data:before { content: "\f111"; }
.flaticon-019-crm:before { content: "\f112"; }
.flaticon-020-graph:before { content: "\f113"; }
.flaticon-021-cloud-computing:before { content: "\f114"; }
.flaticon-022-music:before { content: "\f115"; }
.flaticon-023-engineer:before { content: "\f116"; }
.flaticon-024-data-mining:before { content: "\f117"; }
.flaticon-025-analytic:before { content: "\f118"; }
.flaticon-026-keyword:before { content: "\f119"; }
.flaticon-027-statistics:before { content: "\f11a"; }
.flaticon-028-code:before { content: "\f11b"; }
.flaticon-029-processing:before { content: "\f11c"; }
.flaticon-030-data-management:before { content: "\f11d"; }
.flaticon-031-data:before { content: "\f11e"; }
.flaticon-032-graph-bar:before { content: "\f11f"; }
.flaticon-033-social-media:before { content: "\f120"; }
.flaticon-034-integration:before { content: "\f121"; }
.flaticon-035-global:before { content: "\f122"; }
.flaticon-036-investment:before { content: "\f123"; }
.flaticon-037-privacy:before { content: "\f124"; }
.flaticon-038-app-development:before { content: "\f125"; }
.flaticon-039-data-warehouse:before { content: "\f126"; }
.flaticon-040-policy:before { content: "\f127"; }
.flaticon-041-security:before { content: "\f128"; }
.flaticon-042-maintenance:before { content: "\f129"; }
.flaticon-043-targeted:before { content: "\f12a"; }
.flaticon-044-innovation:before { content: "\f12b"; }
.flaticon-045-optimization:before { content: "\f12c"; }
.flaticon-046-transmission:before { content: "\f12d"; }
.flaticon-047-ambiguity:before { content: "\f12e"; }
.flaticon-048-availability:before { content: "\f12f"; }
.flaticon-049-planning:before { content: "\f130"; }
.flaticon-050-statistics:before { content: "\f131"; }

$font-Flaticon-001-server: "\f100";
$font-Flaticon-002-server: "\f101";
$font-Flaticon-003-visualization: "\f102";
$font-Flaticon-004-encryption: "\f103";
$font-Flaticon-005-volume: "\f104";
$font-Flaticon-006-venue: "\f105";
$font-Flaticon-007-variety: "\f106";
$font-Flaticon-008-validity: "\f107";
$font-Flaticon-009-protection: "\f108";
$font-Flaticon-010-vagueness: "\f109";
$font-Flaticon-011-velocity: "\f10a";
$font-Flaticon-012-variability: "\f10b";
$font-Flaticon-013-value: "\f10c";
$font-Flaticon-014-veracity: "\f10d";
$font-Flaticon-015-server: "\f10e";
$font-Flaticon-016-structure: "\f10f";
$font-Flaticon-017-unstructured-data: "\f110";
$font-Flaticon-018-structured-data: "\f111";
$font-Flaticon-019-crm: "\f112";
$font-Flaticon-020-graph: "\f113";
$font-Flaticon-021-cloud-computing: "\f114";
$font-Flaticon-022-music: "\f115";
$font-Flaticon-023-engineer: "\f116";
$font-Flaticon-024-data-mining: "\f117";
$font-Flaticon-025-analytic: "\f118";
$font-Flaticon-026-keyword: "\f119";
$font-Flaticon-027-statistics: "\f11a";
$font-Flaticon-028-code: "\f11b";
$font-Flaticon-029-processing: "\f11c";
$font-Flaticon-030-data-management: "\f11d";
$font-Flaticon-031-data: "\f11e";
$font-Flaticon-032-graph-bar: "\f11f";
$font-Flaticon-033-social-media: "\f120";
$font-Flaticon-034-integration: "\f121";
$font-Flaticon-035-global: "\f122";
$font-Flaticon-036-investment: "\f123";
$font-Flaticon-037-privacy: "\f124";
$font-Flaticon-038-app-development: "\f125";
$font-Flaticon-039-data-warehouse: "\f126";
$font-Flaticon-040-policy: "\f127";
$font-Flaticon-041-security: "\f128";
$font-Flaticon-042-maintenance: "\f129";
$font-Flaticon-043-targeted: "\f12a";
$font-Flaticon-044-innovation: "\f12b";
$font-Flaticon-045-optimization: "\f12c";
$font-Flaticon-046-transmission: "\f12d";
$font-Flaticon-047-ambiguity: "\f12e";
$font-Flaticon-048-availability: "\f12f";
$font-Flaticon-049-planning: "\f130";
$font-Flaticon-050-statistics: "\f131";